/* General styles */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-logo-color: #2196f3;
  --header-logo-last-color: #000000;
  --footer-logo-color: #2196f3;
  --footer-logo-last-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-fon: #2f303a;
  --hero-color: #ffffff;
  --button-bkg-mouse: #188ce8;
  --background-color-button: #2196f3;
  --team-bkg: #f5f4fa;
  --footer-color-list-adress: #ffffff;
  --footer-color-list-mail-tel: rgba(255, 255, 255, 0.6);
  --button-filtr-font: #212121;
  --button-filtr-bkg: #f5f4fa;
  --button-filtr-font-active: #ffffff;
  --button-filtr-bkg-active: #2196f3;
  --main-nav-bottom-border: #ececec;
  --cards-border: #eeeeee;
  --social-fon-active: #2196f3;
  --social-icon: #afb1b8;
  --features-icon-fon: #f5f4fa;
  --clients-border: #afb1b8;
  --foot-line: rgba(255, 255, 255, 0.1);
}
.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--main-nav-bottom-border);
}
/* Header styles */
.header-nav {
  display: flex;
}
.logo-flex {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: 0px;
}
.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
}
.header-logo-last {
  margin-right: 0;
  color: var(--header-logo-last-color);
}
.header-list {
  display: flex;
  margin-left: 93px;
}
.header-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-link:hover,
.header-list-link:active,
.header-tel-link:hover,
.header-tel-link:active,
.header-mail-link:hover,
.header-mail-link:active {
  color: var(--accent-color);
}

.active-link {
  color: var(--accent-color);
}

/* .header-list-link::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}  Так сказала ментор - это убрать, хотя в предыдущих проектах 
такое делали и хотя выглядело абсурдно наравне с активной страницей*/
.header-list-link:hover:after {
  opacity: 1;
}
.active-link::after {
  opacity: 1;
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0px;
  bottom: 0px;

}
.mail-tel-nav {
  display: flex;
  margin-left: auto;
}

/* .mail-tel-nav .item + .item {
  margin-left: 50px;
} */
.mail-tel-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header-tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-mail {
  fill: currentColor;
  margin-right: 10px;
}
/* .svg-mail:hover {
  fill: var(--accent-color);
} */

.svg-tel {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero style  -----------------------------*/
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-color-fon);
  /* если пропадет картинка то останется фон для удобства */
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-fon.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  display: block;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--hero-color);
  background-color: var(--background-color-button);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.hero-button:hover,
.hero-button:active {
  background-color: var(--button-bkg-mouse); 
  cursor: pointer;
}

/* Features styles */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: #188ce8; */
}
.features-titles {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--features-icon-fon);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-icon-size {
  width: 70px;
  height: 70px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 0;
}
.features-list-item:nth-child(4n) {
  margin-right: 0;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.feature .features-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* works styles */
.works {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}
.title-works {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.works-flex {
  display: flex;
}
.works-flex-item {
  width: 370px;
  margin-right: 30px;
  position: relative;
}
.works-flex-item:nth-child(3n) {
  margin-right: 0;
}
.works-img {
  display: block;
  width: 100%;
  height: auto;
}
.works-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--hero-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

/* team styles */
.team {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bkg);
}
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-cards {
  display: flex;
}
.particapant-photo {
  display: block;
  width: 100%;
  height: auto;
}
.team-cards-item {
  width: 270px;
  margin-right: 30px;
  background-color: var(--button-filtr-font-active);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-cards-item:nth-child(4n) {
  margin-right: 0;
}
.particapant-photo {
  margin-top: 0;
  margin-bottom: 0;
}
.particapant-sign {
  padding-top: 30px;
  padding-bottom: 30px;
}
.particapant-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.particapant-post {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-cards-item .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-cards-item .social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team-cards-item .social-item:last-child {
  margin-right: 0;
}
.team-cards-item .social-link {
  width: 100%;
  height: 100%;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-cards-item .social-link:hover {
  background-color: var(--social-fon-active);
}

.team-cards-item .social-icon {
  fill: var(--social-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-cards-item .social-link:hover .social-icon {
  fill: var(--hero-color);
  /* (СУПЕР способ Карины) */
}

.clients {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.clients-content {
  display: flex;
  gap: 30px;
}
.clients-item {
  flex-basis: calc((100% - 5 * 30px) / 6);
}

/* .clients-item:last-child {
  margin-right: 0px;
}    чекаю на формулу від пані Наталі */

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clients-border);
  border-radius: 4px;
  height: 92px;
  color: var(--clients-border);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* А здесь без фокуса Карины сработало  */
.clients-icon-logo {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* footer styles */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-fon);
}

.footer-content {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}
.footer-logo-last {
  color: var(--footer-logo-last-color);
}
.adress-list {
  display: block;
  margin-top: 20px;
}
.address-line:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-color-list-adress);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-color-list-mail-tel);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-color-list-mail-tel);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-adress:hover,
.footer-list-adress:active,
.footer-list-mail:hover,
.footer-list-mail:active,
.footer-list-tel:hover,
.footer-list-tel:active {
  color: var(--accent-color);
}
.foot-social-net {
  display: block;
  margin-left: 70px;
}
.join-title {
  color: var(--footer-color-list-adress);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.foot-social-net .social-icons {
  display: flex;
  justify-content: center;
}
.foot-social-net .social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.foot-social-net .social-item:last-child {
  margin-right: 0;
}
.foot-social-net .social-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foot-line);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-net .social-link:hover {
  background-color: var(--social-fon-active);
}

.foot-social-net .social-icon {
  fill: var(--hero-color);
}
.foot-social-net .social-link:hover .social-icon {
  fill: var(--hero-color);
  /* (СУПЕР способ Карины) */
}

/* subscribe */
.subscribe-section {
  display: block;
  margin-left: auto;
}
.subscribe-title {
  color: var(--footer-color-list-adress);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  background-color: var(--background-color-fon); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;  
  padding: 15px 16px;
  color: var(--primary-text-color);
  outline: 0;
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--button-filtr-font-active);
  border-radius: 4px;
  margin-left: 12px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.svg-send {
  margin-left: 10px;
}
.subscribe-button-div {
  display: flex;
}


/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-menu-flex {
  display: flex;
  justify-content: center;
}
.portfolio-filtr-link {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-filtr-fontr);
  background-color: var(--button-filtr-bkg);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu:not(:last-child) {
  margin-right: 8px;
}
.active-filtr {
  color: var(--button-filtr-font-active);
  background-color: var(--button-filtr-bkg-active);
}
.portfolio-filtr-link:hover,
.portfolio-filtr-link:active {
  color: var(--button-filtr-font-active);
  background-color: var(--button-filtr-bkg-active);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08);
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio-container-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-container-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-container-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-link {
  display: block;
}
.portfolio-container .portfolio-img-wrapper {
  /* portfolio-container-item */
  /* portfolio-link */
  position: relative;
  overflow: hidden;
}
.portfolio-img-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-color);
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  /* padding: 24px; */
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.portfolio-container .portfolio-container-item:hover  .portfolio-img-description {
  transform: translateY(0);  
}

.portfolio-link:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-sign {
  padding: 20px 24px;
  border-right: 1px solid var(--cards-border);
  border-bottom: 1px solid var(--cards-border);
  border-left: 1px solid var(--cards-border);
}
.portfolio-project {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-filtr-name {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* .portfolio-container-item:nth-child(-n + 3) {
  margin-bottom: 0; */

/* --------------------modal-backdrop------------- */
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-backdrop.is-hidden .modal {
    transform: scale(1);
}
  
.modal {
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--button-filtr-font-active);
    border-radius: 4px;
}
  
.modal .close-sign {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--button-filtr-font-active);
    border-radius: 50%;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
  
.modal .close-sign .svg-close {
    fill: var(--header-logo-last-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close-sign:hover {
    border: 1px solid var(--accent-color);
}
  
.modal .close-sign:hover .svg-close {
  fill: var(--accent-color);
}

/* modal-form input */
.modal-title {
  color: var(--button-filtr-font);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(16 / 14);
  text-align: center;
  margin-bottom: 12px;
}
  .modal-form {
  }
  .input-line {
    margin-bottom: 10px; 
  }
  .modal-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px;
    padding-left: 42px;
    font-size: 16px;
    color: var(--title-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;  /* вот то что меня сбивало и не окрашивало бордер в голубой */
    }
  
  .modal-input:hover, .modal-input:focus, 
  .modal-input:focus-within, .modal-input:focus-visible  {
    border-color: var(--accent-color);
    cursor: pointer;
  }

  .modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: rgba(117, 117, 117, 0.5);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-textarea:hover, .modal-textarea:focus, 
  .modal-textarea:focus-within, .modal-textarea:focus-visible  {
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }

  .modal-label  {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--primary-text-color);
  }
  
  .input-wrapper {
    position: relative;

  }
  
  .input-wrapper input {
    margin-bottom: 0;
  }
  
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--button-filtr-font);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-input:focus + .input-icon,
  .modal-input:hover + .input-icon {
    fill: var(--accent-color);
  }

  .check-line {
    /* display: block; */
    margin: 10px auto 0;
  }
  
  .checkbox-agree {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox-agree .icon-wrapper {
    width: 16px;
    height: 15px;
    border: 1px solid var(--button-filtr-font);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox-agree .agree-icon {
    fill: transparent;
  }
  
  .check-line input:checked + .checkbox-agree .icon-wrapper {
    background-color: var(--background-color-button);
    border: none;
  }
  
  .check-line input:checked + .checkbox-agree .agree-icon {
    fill: #ffffff;
  }
  .agree-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--primary-text-color);
  }
  .agree-contract {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--accent-color);
  }
  .modal-button {
    display: block;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--hero-color);
    background-color: var(--background-color-button);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 30px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* маржин равнения */
   }

   .modal-button:hover, .modal-button:active {
    background-color: var(--button-bkg-mouse);
    cursor: pointer;
   }