/* team styles */
.team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $team-bkg;
  }
  .team-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  
  .team-cards {
    display: flex;
  }
  .particapant-photo {
    display: block;
    width: 100%;
    height: auto;
  }
  .team-cards-item {
    width: 270px;
    margin-right: 30px;
    background-color: $button-filtr-font-active;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
  .team-cards-item:nth-child(4n) {
    margin-right: 0;
  }
  .particapant-photo {
    margin-top: 0;
    margin-bottom: 0;
  }
  .particapant-sign {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .particapant-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  .particapant-post {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  
  .team-cards-item .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .team-cards-item .social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
  .team-cards-item .social-item:last-child {
    margin-right: 0;
  }
  .team-cards-item .social-link {
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-cards-item .social-link:hover {
    background-color: $social-fon-active;
  }
  
  .team-cards-item .social-icon {
    fill: $social-icon;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-cards-item .social-link:hover .social-icon {
    fill: $hero-color;
    /* (СУПЕР способ Карины) */
  }
  